Repository mrvilla/collection: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config configs/tasks/linting/eslintrc.js, stylelint --fix --config configs/tasks/linting/stylelint.config.js, prettier --parser markdown --write, prettier --parser json --write

styling results
  src/app/shared/components/search/scripts/search.js
  src/app/shared/components/search/styles/search.scss
Due: eslint --fix --config configs/tasks/linting/eslintrc.js, stylelint --fix --config configs/tasks/linting/stylelint.config.js

sitemap fix
  package.json
  src/app/app.events.js
  src/app/app.js
  src/app/app.scss
  src/app/shared/components/search/scripts/search.js
  src/app/shared/components/search/styles/search.scss
  src/app/shared/components/sitemap/sitemap.hbs
  src/app/shared/components/sitemap/styles/_sitemap.scss
  src/app/shared/components/toggler/.npmignore
  src/app/shared/components/toggler/CHANGELOG.md
  src/app/shared/components/toggler/INSERTPOINTS.md
  src/app/shared/components/toggler/README.md
  src/app/shared/components/toggler/data/toggler.hjson
  src/app/shared/components/toggler/package.json
  src/app/shared/components/toggler/scripts/toggler.js
  src/app/shared/components/toggler/styles/_toggler.scss
  src/app/shared/components/toggler/templates/toggler-usage.hbs
  src/app/shared/components/toggler/templates/toggler.hbs
  src/app/shared/components/toggler/toggler-usage.settings.hjson
  src/docs/layouts/lyt-docs.hbs
  src/docs/layouts/lyt-docs.scss
  src/docs/style-guide/docs/docs.hbs
  yarn.lock
Due: eslint --fix --config configs/tasks/linting/eslintrc.js, stylelint --fix --config configs/tasks/linting/stylelint.config.js, prettier --parser markdown --write, prettier --parser json --write

add error handling for each api fetch
  .gitignore
  package.json
  src/app/shared/components/search/scripts/search.js
  src/app/shared/components/search/templates/search.hbs
  src/app/shared/data/externtalData.js
  src/server/modules/express.js
  yarn.lock
Due: eslint --fix --config configs/tasks/linting/eslintrc.js, prettier --parser json --write

remove low level ajax request
  src/app/shared/data/externtalData.js
Due: eslint --fix --config configs/tasks/linting/eslintrc.js

rename click handler to submit handler
  src/app/shared/components/search/scripts/search.js
Due: eslint --fix --config configs/tasks/linting/eslintrc.js

reduce class size and extract render logic
  .gitignore
  src/app/shared/components/search/scripts/search.js
  src/app/shared/components/search/scripts/templates/index.js
  src/app/shared/components/search/templates/search.hbs
  src/app/shared/data/config.js
Due: eslint --fix --config configs/tasks/linting/eslintrc.js

remove destructuring from book template
  src/app/shared/components/search/scripts/templates/index.js
Due: eslint --fix --config configs/tasks/linting/eslintrc.js

remove cache file from repo
  .gitignore
  src/app/shared/data/config.js
Due: eslint --fix --config configs/tasks/linting/eslintrc.js

remove cache file from repo
  src/app/shared/data/externtalData.js
Due: eslint --fix --config configs/tasks/linting/eslintrc.js

Path conditions:
  eslint --fix --config configs/tasks/linting/eslintrc.js: any of: src/app/**/*.js
  stylelint --fix --config configs/tasks/linting/stylelint.config.js: any of: src/**/*.scss
  prettier --parser markdown --write: any of: *.md
  prettier --parser json --write: any of: *.json
